@charset 'UTF-8';

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

body {
    height: fit-content;
    background-image: linear-gradient(
        #1a1c24cf 0%,
        #1a1c24 100%
    ), 
    url(https://images.unsplash.com/photo-1594904351111-a072f80b1a71?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80);
    background-size: cover;
    background-attachment: fixed;
}

body::before {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  filter: blur(2px);
  z-index: -1;
}

/* Search page */

.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-form h1 {
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.search-form input[type=text] {
    height: 35px;
    width: 250px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.search-form input[type=text].invalid {
    border: 2px solid #d00000; 
}

.search-form input[type=submit] {
    height: 35px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #ff833c;
    color: #fff;
    font-weight: 700;
    letter-spacing: .5px;
}

.search-form p {
    color: #fff;
    margin-top: 10px;
}

/* User Page */

/* User info header */
.user-info {
    display: grid;
    justify-items: center;
    margin-top: 60px;
    color: #fff;
}

.user-info img {
    height: auto;
    width: 200px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.user-info h2 {
    margin: 15px 0;
}

.user-data {
    display: flex;
    margin: 20px 0;
}

.user-data div {
    margin: 0 10px;
}

.user-data span {
    display: block;
    width: 100%;
    text-align: center;
    color: #13ec46;
}

.user-info a {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    background-color: #ff833c;
}

/* Repos Grid */
h2 {
    color: #fff;
    margin: 20px 0;
}

.repos-grid {
    display: grid;
    gap: 20px;
    padding-bottom: 40px;
}

.repo-div {
    display: flex;
    justify-content: space-between;
    height: min(90px);
    padding: 15px 20px;
    background-color: #ffffff17;
    border-radius: 5px;
}

.repo-div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repo-div a {
    color: #73D016;
}

.repo-div p {
    color: #fff;
}